@charset "utf-8";

/*ν—¤λ”*/
#header{
	text-align:center;
	height:80px;
	line-height:80px;
}
#header h1{
	width:110px;
	height:45px;
	background:url(../images/sp_com.png) no-repeat -300px -5px;
	position:absolute;
	text-indent:-9999px;
	left:50px;
	top:15px;
}
#header h1 a{
	display:block;
}

.gnb{
	display:inline-block;
	font-size:17px;
}
.gnb li{
	margin:0 20px;
	float:left;
}
.gnb li:hover a{
	color:#2d5b79;
	font-weight:bold;
	border-bottom:2px solid #2d5b79;
}

.utill{
	position:absolute;
	top:0;
	right:50px;
	font-size:13px;
}
.utill li{	
	float:left;	
}
.utill li:hover a{
	text-decoration:underline;
}
.utill li:after{
	content:"";
	display:inline-block;
	width:1px;
	height:10px;
	background:#555;
	margin:0 5px;
}
.utill li:last-child:after{
	display:none;
}


/*ν‘Έν„°*/
#footer{
	background:#4c5459;
}

.footerTop{
	background:#383f43;
	padding:10px 0;
	height:40px;
	line-height:40px;
}

.footerMenu{
	float:left;
}
.footerMenu li{
	float:left;
}
.footerMenu li:after{
	content:"";
	display:inline-block;
	width:1px;
	height:10px;
	margin:0 5px;
	background:#ddd;
}
.footerMenu li:last-child:after{
	display:none;
}
.footerMenu a{
	color:#fff;
}

.footerTopR{
	float:right;
}
.footerTopR div{
	float:left;
}

.cs{
	background:#2a3033;
	color:#fff;
	padding:0 15px;
}
.cs span{
	font-size:13px;
	font-weight:bold;
	vertical-align:middle;
}
.cs .csNum{
	font-weight:normal;
	font-size:22px;
	margin-left:10px;
}

.site{
	width:150px;
	padding:0 15px;
	background:#fff url(../images/arrow.png) no-repeat 95% center;
	font-size:14px;
	margin-left:10px;
}
.site{
	color:#000;
	font-size:14px;
	padding-left:15px;
}

.footerBottom{
	padding:40px 0;
	text-align:center;
	color:#fff;
	font-size:13px;
	line-height:20px;
}
.footerBottom h4{
	width:130px;
	height:50px;
	background:url(../images/sp_com.png) no-repeat -150px 0;
	text-indent:-9999px;
	margin:0 auto;
	margin-bottom:30px;
}

.footerBottom span:after{
	content:"";
	display:inline-block;
	width:1px;
	height:10px;
	margin:0 10px;
	background:#ddd;
}
